/* DrinkReviewComment.js */
@import 'styles/variables';

.drink-review {
  &__comment {
    display: flex;
    margin-bottom: 7px;
    gap: 0 5px;
    font-size: $font-medium;

    &__reviewer-id {
      font-weight: bold;
      line-height: 1.3;
      word-break: keep-all;
    }

    &__content {
      display: -webkit-box;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }

    .fa-heart {
      display: inline-block;
      height: 19px;
      line-height: 1.5;
    }

    &__remove-btn {
      line-height: 1.5;
    }
  }
}
