@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Detail {
  .navi {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f6f5ef;
  }

  .navi .naviTitle {
    color: #121212;
    font-family: 'Dancing Script', cursive;
  }

  .navi ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .navi .naviMenu a {
    margin-left: 15px;
    color: #c0bfbb;
    font-size: 0.5em;
  }

  .naviMenu a {
    text-decoration: none;
  }

  .detailContainer {
    margin: 0 auto;
    width: 1000px;
  }

  .naviTitle {
    float: left;
  }

  .productHead {
    margin-bottom: 20px;
  }

  .productHead h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .siteMap {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #c0bfbb;
  }

  .siteMap li {
    margin-left: 5px;
    list-style: none;
  }

  .siteMap li a {
    color: #c0bfbb;
    text-decoration: none;
  }

  .productImage img {
    width: 420px;
    height: 420px;
  }

  .productContents {
    display: flex;
  }

  .productImage {
    margin-right: 30px;
  }

  .productDetailContainer {
    display: flex;
    justify-content: space-between;
  }

  .productName h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .productName h4 {
    margin-bottom: 20px;
  }

  .productName {
    margin-bottom: 20px;
  }

  .productDescription {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
  }

  .productDescription p {
    padding-top: 20px;
    line-height: 130%;
    border-top: 2px solid #121212;
  }

  .productInfoDetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #c5c5c5;
  }

  .productInfoDetail p {
    font-size: 18px;
  }

  .productNutriInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .productNutriInfo ul {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    flex-direction: column;
    list-style: none;
  }

  .productNutriInfo li {
    padding: 10px;
  }

  .productNutriInfo ul:first-child {
    border-right: 1px dotted #c5c5c5;
  }

  .productNutriInfo dl {
    display: flex;
    justify-content: space-between;
  }

  .productFactor {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #efefef;
  }

  .review {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
  }

  .review p {
    font-size: 18px;
    font-weight: bold;
  }

  .inputReview input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #efefef;
  }

  .inputReview {
    margin-bottom: 80px;
  }

  input:focus {
    outline: none;
  }

  footer {
    background-color: #333333;
  }

  .footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
  }

  .footerWrapper a {
    color: #efefef;
    text-decoration: none;
    font-size: 12px;
  }

  .footerWrapper ul {
    justify-content: space-between;
  }

  .footerWrapper li {
    padding: 3px;
  }

  .footerWrapper li:first-child {
    padding-bottom: 5px;
  }
}
