/* DetailTitle.js */
@import 'styles/variables';
@import 'styles/mixins';

.drink-category-title {
  margin-bottom: 5px;
  font-size: $font-xxlarge;
  font-weight: bold;
  line-height: 1.2;
}

.breadcrumbs {
  @include flex(flex-end, normal);
  margin-bottom: 20px;
  color: $grey-700;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    margin-right: 20px;
    font-size: $font-small;
    font-weight: 300;

    &:not(:last-child):after {
      position: absolute;
      width: 6px;
      height: 6px;
      margin-top: -4px;
      content: '';
      border-top: 1px solid $grey-700;
      border-right: 1px solid $grey-700;
      top: 50%;
      right: -12px;
      transform: rotate(45deg);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
