.coffeeImageCard {
  margin-bottom: 15px;

  .productImage img {
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 15px;
  }

  .coffeeProductName {
    color: rgb(0, 0, 0);
  }
}
