/* DrinkNutritionRow.js */
@import 'styles/variables';
@import 'styles/mixins';

.drink-nutrition__table {
  &__row {
    padding: 5px 15px 10px;
    font-size: $font-medium;

    &:nth-child(2n + 1) {
      border-right: 1px dashed $grey-200;
    }

    &:nth-child(n + 5) {
      margin-bottom: 30px;
    }
  }

  &__desc-list {
    @include flex(space-between, normal);
    line-height: 1.4;
  }
}
