/* LoginForm.js */
@import 'styles/common';

.login-form {
  width: 100%;
  margin-bottom: 120px;

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 13px 10px;
    color: $black-primary-color;
    background: $grey-100;
    border: 2px solid $grey-300;
    border-radius: 5px;
    transition: 0.1s ease-in-out;

    &--active {
      border-color: $green-primary-color;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 13px 10px;
    color: $white-color;
    background: $green-primary-color;
    border-radius: 5px;
    font-size: $font-large;
    font-weight: bold;
    text-align: center;
    opacity: 1;

    &:disabled,
    &[disabled] {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
