.CoffeeCard {
  margin-bottom: 10px;

  a {
    text-align: center;
    text-decoration: none;
  }

  .menuImage a .shopProductName {
    margin-bottom: 10px;
  }

  .shopProductName {
    color: #121212;
  }

  .menuImage a img {
    width: 230px;
    height: 230px;
  }

  .menuImage div a {
    width: 230px;
    height: 230px;
    overflow: hidden;
  }

  .menuImage div img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  .nameWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 20px;
  }
}
