.loginBox {
  position: relative;
  margin: auto 0;
  border: none;
  text-align: center;
  input {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
  }
  .loginBtn {
    position: relative;
    width: 250px;
    height: 50px;
    margin: auto 0px;
    background-color: rgb(135, 206, 250);
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  .loginBtnActive {
    background-color: rgb(7, 23, 246);
  }
}
